
        .form-control label, 
        .form-control input {
            display: block;
            width: 100%;
        }
        
        .form-control input {
            border: 1px solid rgb(144, 197, 240);
            font: inherit;
            border-radius: 2px;
        }
        button{
            font: inherit;
            border: 1px solid black;
            background: white;
            color: navy;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover,
        button:active{
            background: navy;
            color: white;
        }

    .form-control {
        margin: 1rem 0;
    }
    .product-form{
        width: 20rem;
        max-width: 90%;
        margin: auto;
    }
    