<%- include('includes/head.ejs') %>
</head>

<body class="error-404">
    <%- include('includes/navigation.ejs') %>
    <div class="container1">
        <div id="error-404-info">
            <h1>Page not found. You're lost, aren't you?</h1>
            <p>This is an awfuly lonely part of the woods. Seek shelter in friendlier spaces, for the beast is about.</p>
        </div>
        <div class="container-eyes">
            <div id="eyes">
                <div id="eyelids"></div>
                <div id="l_pupil"></div>
                <div id="r_pupil"></div>
            </div>
        </div>
    </div>

<%- include('includes/end.ejs') %>